@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
/* Página Home */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    color: black;
    text-align: center;
}

.banner {
    height: 100vh;
    background-image: url('./img/banner_integrador.png');
    background-size: cover;
    background-position: center;
    position: relative;
    margin-bottom: 100px;
}

.header {
    position: fixed;
    top: 0;
    height: 12%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 999;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05); 
}

.search-barra {
  width: 20px;
  height: 20px;
}

.menu a {
    margin-left: 25px;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
}

.botao-saiba-mais {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: white;
    background: #0F3F7E;
    background: linear-gradient(90deg, rgba(15, 63, 126, 1) 0%, rgba(140, 82, 255, 1) 100%);
    width: 300px;
    height: 70px;
    border-radius: 30px;
    border: none;
    margin-top: 800px;
    right: 10px;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.linha-rosa {
    width: 150px;
    height: 15px;
    background-color:#FAA1D4;
    margin: 0 auto 40px auto;
    border-radius: 0px;
}

.produtos {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
  padding: 0 20px;
  margin-bottom: 60px;
  box-sizing: border-box;
  height: auto;
}

.produto {
  border: 2px solid transparent;
  padding: 20px;
  border-radius: 10px;
  width: 220px;
  transition: 0.3s;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05); 
  min-height: 330px;
}

.produto:hover {
  border-color: #2b7cff;
}

.produto img {
  min-width: 180px;
  height: 150px;
  object-fit: contain;
  margin-bottom: 10px;
  object-fit: contain;
}

.produto h3 {
  font-size: 18px;
  margin-bottom: 8px;
  color: black;
}

.produto p {
  font-weight: bold;
  margin-bottom: 8px;
  color: #000;
}

.avaliacao {
  font-size: 0.9rem;
  color: #ffb400;
  margin-bottom: 20px;
}

.comprar {
  background: #8C52FF;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

.segundo-banner img {
  max-width: 100%;
  border-radius: 0px;
  margin-bottom: 100px;
}

.secao-newsletter {
  background: #0c2e5a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  padding: 0 60px;
  gap: 80px;
  margin-bottom: 100px;
}

.newsletter-texto {
  max-width: 400px;
}

.newsletter-texto h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  color: white;
  margin-bottom: 20px;
}

.newsletter-texto p {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: white;
  text-align: left;
  line-height: 1.6;
}

.newsletter-form {
  background: linear-gradient(to bottom, #1f2d83, #5e3cb2);
  border-radius: 20px;
  padding: 40px 30px;
  width: 300px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  color: white;
}

.newsletter-form .logo {
  display: block;
  margin: 0 auto 30px;
  width: 100px;
}

.newsletter-form form {
  display: flex;
  flex-direction: column;
}

.newsletter-form label {
  font-size: 14px;
  margin-top: 20px;
}

.newsletter-form input {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  padding: 8px 4px;
  color: white;
  font-size: 14px;
  outline: none;
}

.newsletter-form button {
  margin-top: 30px;
  padding: 12px;
  border: 1px solid white;
  background: transparent;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s ease;
}

.newsletter-form button:hover {
  background: rgba(255, 255, 255, 0.2);
}

.cards-categorias {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 0 20px;
}

.categoria {
  flex: 0 0 auto;
  text-align: center;
  flex-shrink: 0;
}

.categoria img {
  width: 200px;
  height: 250px;
  object-fit: cover;
  border-radius: 16px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.categoria img:hover {
  transform: scale(1.05);
}

.categoria p {
  font-weight: bold;
  margin-top: 16px;
  font-size: 16px;
}


.rodape {
  margin-top: 100px;
  background: linear-gradient(white, #8C52FF);
  height: 600px;
}

.rodape p {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

/* Página de Produtos */

.navbar {
  background-color: #ffff;
  box-shadow: 0 0 10px #8C52FF;
  padding: 1rem 0;
  position: relative;
  z-index: 10;
  margin-bottom: 100px;
  
}

.conteiner {
  font-family: 'Montserrat', sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 0;
}

.logotipo img {
  height: 60px;
  
}

.search {
  flex: 1;
  margin: 0 2rem;
  position: relative;
  display: flex;
  align-items: center;
}

.search input {
  width: 100%;
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 2rem;
  background-color: #d2d2d2;
  font-size: 1rem;
  padding-right: 40px;
}

.search button {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: #000;
}

.menu {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.menu a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.menu i {
  font-size: 1.2rem;
  cursor: pointer;
}

.pagina-produtos p {
  margin-bottom: 30px;
}

#produtos {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
  padding: 0 20px;
  margin-bottom: 5px;
  box-sizing: border-box;
  height: auto;
}

#produto {
  border: 2px solid transparent;
  padding: 20px;
  border-radius: 10px;
  width: 220px;
  transition: 0.3s;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05); 
  min-height: 330px;
}

#produto img {
  min-width: 180px;
  height: 150px;
  object-fit: contain;
  margin-bottom: 10px;
  object-fit: contain;
}
#produto:hover {
  border-color: #2b7cff;
}

/* Favoritos */

#favoritos {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

#favoritos p {
  margin-bottom: 30px;
  font-size: medium;
  font-weight: lighter;
}

/* Login */

.body-login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  height: 100vh;
  background: #0c2e5a;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

.login-conteiner {
  background: linear-gradient(180deg, #0c2e5a 0%, #6e42c1 100%);
  border-radius: 20px;
  margin-top: 100px;
  padding: 40px 30px;
  width: 480px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}


.login-conteiner img {
  height: 135px;
  width: 250;
  margin-bottom: 50px;
  text-align: center;
}

.login-conteiner input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}

input::placeholder {
  color: #888;
  font-size: 14px;
}

.login-conteiner button {
  width: 400px;
  height: 50px;
  margin-top: 30px;
  padding: 12px;
  border: 1px solid white;
  background: transparent;
  color: white;
  font-size: medium;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s ease;
}

.login-conteiner button:hover{
  background: rgba(255, 255, 255, 0.2);
}

.form-grupo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  width: 100%;
}

.form-grupo label {
  color: white;
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: 500;
}

.forgot-password {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #d2d2d2;
  margin-top: 10px;
}

